body {
	font-size: 14px;
  	font-family: 'Open Sans', sans-serif;
  	color: #666;
}

h1 {
	text-transform: uppercase;
  	border-bottom: 4px solid black;
	display: inline-block;
  	font-weight: 800;
} 

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	padding: .5em 0;
	color: #000
	border-bottom: #000;

}
nav {
  font-size: 1.1em;
  float: right;
}

nav a {
  text-decoration: none;
  color: #000000;
  margin: 1.1em;
  display: inline-block;
}

section {
	background: #d1cfd5;
	color: #666;
	overflow: auto;
}

div {
	font-size: 1.2em;
	width: 29%;
	padding: 1.5%;
	text-align: block;
	display: inline-block;
}

#modern {
	float: left;
}

#ballet {
	float: left;
}

#tap {
	float: left;
}

.myButton {
	background-color:#f5b3f5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #f5b3f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#f5b3f5;
}
.myButton:active {
	position:relative;
	top:1px;
}


footer {
  text-align: center;
  padding: 1em 0;
  clear: both;
}